{% extends "base.html" %}

  {% block title %}
    User Account: Password Change
  {% endblock %}
  
  {% block heading %}
    <h1>User Account: Password Change</h1>
  {% endblock %}

  {% block content %}
   {% if passerror %}
        <p style = "color:red">Password not correct!Try again!</p>
    {% endif %}

    

    {% if change %}
        <p style = "color:red">Change password succesfully!</p>
        <p style = "color:red">Please keep it in mind!</p>
    {% endif %}
    {% if short %}
       <p> <font color = red>Password too short!(6 characters at least)</font></p>
        {% endif %}
    <form method="post" action=".">
      {% csrf_token %}
    
      <table><tr>
        <td>Input your original password:</td>
        <td><input type = "password" name = "origin">
         {% if blank %}
        <font color = red>Should not be blank!</p>
         {% endif %}
      </tr>
      <tr>
        <td>Input your new password:</td>
        <td><input type = "password" name = "word1">
        
      </tr>
      <tr>
        <td>Input your new password again:</td>
        <td><input type = "password" name = "word2">
        {% if sameerror %}
        <font color = red>Passwords not matched!</font>
    {% endif %}
      </tr></table>
      <input id="submit" type="submit" value="update" />
    </form>
  {% endblock %}
